/* Brennan Wilkes */

.loadingIcon{
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.loadingIcon:active, .loadingIcon, .loadingIcon:focus{
	outline: none;
	box-shadow: none;
}

.loadingIcon:hover{
	cursor: default;
}

@media (max-width: 768px) {
	.loadingIcon{
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center;
	}
}
