/* Brennan Wilkes */

.comment > div{
	position: relative;
	max-height: 35vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.comment p{
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
	margin: 0;
	padding: 0;
	text-align: justify;
}

.comment p::-webkit-scrollbar {
	display: none;
}

.comment p {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.floatingHeaderWrapper{
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.floatingHeader, .floatingFooter{
	min-width: 50vw;
	width: 50vw;
	max-width: 50vw;
}

.floatingHeader{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.floatingHeader, .floatingFooter > div{
	border-radius: 10px;
	border: 2px solid #456b86;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	z-index: 2;

}

.floatingFooter{
	text-align: center;
	width: 70%;
	align-items: center;
	justify-content: space-between;
}

.floatingHeader .spacer:hover{
	cursor: default;
}
.floatingHeader .spacer{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.country, .title, .user, .subforum{
	cursor: pointer;
}

.country:hover, .subforum:hover{
	color: #c8b88e !important;
}
.country:active, .subforum:active{
	color: #947f48 !important;
}

.title:hover, .user:hover{
	color: #4eabca !important;
}

.title:active, .user:active{
	color: #eff7fa !important;
}

.floatingHeader:hover, .floatingFooter > div:not(.date):hover{
	transform: scale(1.1);
	z-index: 3;
}


@media (max-width: 768px) {

	.comment > div{
		max-height: 80vh;
	}

	.floatingFooter > div:nth-child(2){
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.floatingHeader .spacer{
		display: none;
	}

	.floatingHeader{
		text-align: center;
	}

}
